*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(237, 232, 237);
}

.main{
text-align: center;
margin-top: 50px;
color: rgb(53, 5, 81);
}
button{
    cursor: pointer;
    border: none;
    font-size: 15px;
    margin: 20px;
    padding: 6px 25px;
    border-radius: 4px;
    background-color: rgb(137, 119, 153);
}
button:hover{
    background-color: rgb(163, 151, 173);
}
img{
    width: 200px;
    height: 100px;
}
/* .first{
    display: none;
} */